<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="card">

      <div class="card-block">
        <div id="calendar" vue-loader="Calendar"></div>
      </div>
    </div>
  </div>
</div>