<!DOCTYPE html>
<html>
<head>
  <title>LearnschedFull</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div align="center">
  <h1>LearnSched</h1>

  <div class="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
